.form-container-tabla {
    background: #F5F2E0;
    padding: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
.filterLink{
    cursor: pointer;
}
.tdFeriado{
  background: #C1292E;
  width: 4px;
  padding: 0px;
  margin: 0px;
}
.tdNoLaborable{
  background: #0075BF;
  width: 4px;
  padding: 0px;
  margin: 0px;
}
