.tab-first-element{
  height: 54px;
  border-right: 32px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 52px solid var(--mpfn-background-opaque);
  border-top-left-radius: 18px;
  display: flex; // table-caption;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  span {
    position: absolute;
    background-color: transparent;
    font-family: var(--mpfn-font-semi-bold);
    font-size: 1em;
    top: 17px;
    left: 20px;
  }
  &.tab-focused {
    border-bottom-color: var(--mpfn-white);
  }
}

$skew-deg: skew(32deg);

.tab-element {
  height: 53px;
  background: var(--mpfn-background-opaque);
  position: relative;
  -webkit-transform: $skew-deg;
  -moz-transform: $skew-deg;
  -ms-transform: $skew-deg;
  -o-transform: $skew-deg;
  transform: $skew-deg;
  opacity: 1;
  cursor: pointer;
  top: 2px;
  span {
    position: absolute;
    background-color: transparent;
    font-family: var(--mpfn-font-semi-bold);
    font-size: 1em;
    top: 18px;
    left: 30px;
    transform: skew(-32deg) !important;
    padding-right: 30px;
  }
  &.tab-focused {
    background: var(--mpfn-white);
    top: 2px;
  }
  @for $i from 2 through 20 {
    &:nth-child(#{$i}) {
      left: -11px + (4px * ($i - 2));
    }
  }

  .counter {
    font-family: var(--mpfn-font-semi-bold);
    color: var(--mpfn-white);
    background-color: var(--mpfn-secondary);
    font-size: 0.9em;
    min-width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    //margin-left: 160px;
    position: absolute;
    right: 0;
    top: -4px;
  }

}

.tab-element-green {
  height: 53px;
  color: var(--mpfn-white);
  background: var(--mpfn-green-dark);
  position: relative;
  -webkit-transform: $skew-deg;
  -moz-transform: $skew-deg;
  -ms-transform: $skew-deg;
  -o-transform: $skew-deg;
  transform: $skew-deg;
  opacity: 1;
  cursor: pointer;
  top: 2px;
  span {
    position: absolute;
    background-color: transparent;
    font-family: var(--mpfn-font-semi-bold);
    font-size: 1em;
    top: 14px;
    left: 30px;
    transform: skew(-32deg) !important;
  }
  &.tab-focused {
    background: var(--mpfn-white);
    color: var(--mpfn-green-dark);
    top: 2px;
  }
  @for $i from 2 through 20 {
    &:nth-child(#{$i}) {
      left: -11px + (4px * ($i - 2));
    }
  }
}

.icono {
  position: relative;
  top: 27px;
  left: 6px;
}

.tab_documentos.tab-focused {
  border-bottom-color: var(--mpfn-secondary);
}

.tab_documentos.tab-element.tab-focused {
  background-color: var(--mpfn-secondary);
}