<div class="grid grid-nogutter no-print">
  <div class="col-12 top_header hidden lg:block">
    <div class="flex justify-content-between flex-wrap px-2 md:px-5">
      <div class="flex align-content-start align-items-center flex-wrap gap-3">
        <button (click)="mostrarMisAplicaciones($event)">
          <img
            src="assets/icons/points.svg"
            alt="More Options"
            class="mas-opciones-efe"
          />
        </button>
        <span class="btn_description">Carpeta Fiscal Electrónica</span>
      </div>
      <div class="flex align-content-start align-items-center flex-wrap gap-3">
        <span class="btn_description">{{ fiscalia }}</span>
      </div>
    </div>
  </div>
</div>
