<div class="footer flex justify-content-between flex-wrap border-top-1 surface-border pt-2">
    <div class="flex align-items-center justify-content-center "> &copy; {{ year }} Ministerio Público - Fiscalía de la Nación, v1.6.3</div>
    <div class="flex align-items-center justify-content-center ">
        <a class="px-3 surface-border border-right-1" href="">Politicas de Privacidad</a>
        <a class="px-3 surface-border border-right-1" href="">Términos y Condiciones</a>
        <a class="px-3 " href="">Soporte</a>
    </div>
</div>