/******************/
::ng-deep .btn-prime-img{
    padding: 10px 8px 10px 25px  !important;

  }
  /******************/
  /******************/
::ng-deep .btn-prime-lg{
  padding: 10px 5px 10px 5px  !important;
  width: 270px;
}
/******************/