<!-- filtro -->
<div class="cfe-container">
  <div class="grid">
      <div class="col">
          <div class="flex mt-5">
            <div class="grow w-full"></div>
            <div class="flex-none">
                <p-button (onClick)="exportarTipoDocumentoExcel()" label="" styleClass="btn-mpfn-sad-cancel ml-3">
                      <fn-icon [ico]="obtenerIcono('iTable')" color="#0E2E4A" height="18px"/>Exportar Excel</p-button>
                 
                <p-button styleClass="btn-mpfn-sad-prime btn-prime-lg ml-2" label="Agregar tipo de Documento" (onClick)="agregarTipoDocumento()"></p-button>
            </div>
        </div>
      </div>
  </div>
</div>






