@use "/src/assets/styles/scss/abstracts/index" as *;
.scroll-inner {
  width: calc(42%);
  overflow-y: scroll;
  height: 90vh;
}

.scroll-inner::-webkit-scrollbar {
  width: 0px;
  border-radius: 5px;
  background-color: var(--mpfn-gray4);
}

.scroll-inner::-webkit-scrollbar-thumb {
  background-color: var(--mpfn-gray1);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.scroll-inner::-webkit-scrollbar-thumb:hover {
  background-color: var(--mpfn-gray14);
}
.handCursor {
  cursor: pointer;
}
.docs{
  background-color: #F5F2E0;

}
/*
.detalle-menu-modal-container {
    background-color: $white;
    border-radius: 10px 10px 10px 10px;
    padding: 30px 25px;
    min-width: 900px;

    h3 {
        color: #0E2E4A;
        columns: black;
        font-family: $font-semi-bold;
        font-weight: 700;
        font-size: 1.6em;
        line-height: 20px;
        letter-spacing: 1%;
    }
}

.close {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;
}

.font-label {
    columns: #1B1C1E;
    font-weight: 700;
    font-size: 1.05em;
    line-height: 20px;
    letter-spacing: 2%;
}

*/
:host::ng-deep .p-dialog .p-dialog-content {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}


