<div class="detalle-menu-modal-container">
  <h3>Detalles del Acto Procesal</h3>
  <span class="close" (click)="close()">X</span>

  <div class="grid mt-3">
    <div class="col-12">
      <p-table [value]="detalles" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Acto procesal</th>
            <th scope="col">Fechas de creación</th>
            <th scope="col">Última Modificación</th>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-detalle>
          <tr>
            <td>{{ detalle.codigo }}</td>
            <td>{{ detalle.actoProcesal }}</td>
            <td>{{ detalle.usuarioCrea }}</td>
            <td>{{ detalle.usuarioModifica }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>