.cargo-progressbar {
    .p-progressbar {

            border: 0 none;
            height: .8rem;
            background: #e9ecef;
            border-radius: 4px;
            font-size: .7rem;
        
        .p-progressbar-value {
            background-color: rgb(103, 215, 137);
        }

    }

}