<div class="modal__header">
  <h5 class="font-semibold m-3">CARGA MASIVA DÍAS NO LABORABLES</h5>
  <div class="cfe-close__document mt-3" (click)="close()">
    <img [src]="icon('close_new')" class="img-custom" alt="" />
  </div>
</div>
<form [formGroup]="formularioImportar">
  <div class="m-4 mt-1">
    <div class="m-5 mt-0">
      <hr class="height=1px" />
      <div class="subtitleModalSad">
        Descargue la plantilla, complete la información correspondiente para el
        registro de los días festivos y no laborables.
      </div>
    </div>
    <div class="flex justify-content-center">
      <p-button
        (onClick)="descargarPlantilla()"
        label=""
        styleClass="p-button-lg px-6 py-1 mr-4"
      >
        <img
          [src]="logo('logoExcel')"
          alt="Excel Icon"
          class="img-custom"
          width="20"
          height="20"
        />Descargar Plantilla (xlsx)</p-button
      >
    </div>
    <div class="m-5">
      <div class="subtitleModalSad">Observaciones(opcional)</div>
      <textarea
        rows="5"
        formControlName="observaciones"
        class="p-inputtext p-2 w-full h-20px"
        [ngClass]="{ 'ng-invalid ng-dirty': errorMsg('observaciones') }"
        (input)="validMaxLength('observaciones')"
      ></textarea>
    </div>
    <div class="flex justify-content-center m-5 mt-0">
      <div class="w-full">
        <input
          type="file"
          formControlName="file"
          class="file-input"
          (change)="onLoad($event)"
          #inputFile
        />
        <div class="file-upload">
          <div class="w-full upload-area border-1">
            <div class="flex justify-content-center">
              <p-button
                styleClass="p-button-sm py-2 px-6 font-semibold btn-mpfn-default"
                (onClick)="inputFile.click()"
              >
                <fn-icon [ico]="obtenerIcono('iAttach')" height="1.2rem" />
                Subir archivos
              </p-button>
            </div>
            <div class="w-full" style="text-align: center">
              {{ getDescripcionFile() }}
              <br /><b>100MB</b>
            </div>
          </div>
          <div *ngIf="fileName" class="flex justify-content-center w-full mt-2">
            <div class="flex justify-content-center w-auto">
              <div
                class="text-align-center"
                style="width: auto; min-width: 550px"
              >
                <div
                  class="flex justify-content-between border-bottom-1 p-0 m-0"
                >
                  <div
                    class="text-align-left"
                    style="width: 40%; min-width: 200px"
                  >
                    Nombre Archivo
                  </div>
                  <div style="width: 80px">Formato</div>
                  <div style="width: 80px">Tamaño</div>
                  <div class="text-align-rigth" style="width: 60px">Acción</div>
                </div>
                <div class="flex justify-content-between p-0 m-0">
                  <div
                    class="text-align-left"
                    style="width: 40%; min-width: 200px"
                  >
                    {{ fileName }}
                  </div>
                  <div style="width: 80px">{{ format }}</div>
                  <div style="width: 80px">{{ size }}</div>
                  <div class="text-align-rigth" style="width: 60px">
                    <i
                      class="text-align-center filterLink"
                      aria-hidden="true"
                      (click)="quitarFile()"
                      ><fn-icon [ico]="obtenerIcono('iTrash')" height="1.6rem"
                    /></i>
                  </div>
                </div>
              </div>
              <div style="width: 100px">
                <div><br /></div>
                <div>
                  <div class="fondoCheck m-2 mt-0" *ngIf="archivoValido">
                    <i class="filterLink" aria-hidden="true"
                      ><fn-icon [ico]="obtenerIcono('iCheck')" color="#06A77D"
                    /></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-content-center">
    <div class="p-col mb-4">
      <p-button
        styleClass="p-ripple p-element p-button-lg font-semibold w-full h-full p-component "
        (onClick)="enviarDataExcel()"
        label="Guardar"
        [disabled]="!archivoValido"
      >
      </p-button>
    </div>
  </div>
</form>
