@use "/src/assets/styles/scss/abstracts/index" as *;

.detalle-menu-modal-container {
  background-color: $white;
  border-radius: 10px 10px 10px 10px;
  padding: 30px 25px;
  min-width: 900px;

  h3 {
    color: #0E2E4A;
    columns: black;
    font-family: $font-semi-bold;
    font-weight: 700;
    font-size: 1.6em;
    line-height: 20px;
    letter-spacing: 1%;
  }
}

input {
  .radio-style {
    .p-radiobutton-box {
      border: 2px solid #3f9fd6;
    }

    .p-radiobutton-box.p-highlight {
      border-color: red;
      background: orange;
    }
  }
}

::ng-deep .p-inputtext {
  background: #fff !important;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
}

.font-label {
  columns: #1B1C1E;
  font-weight: 700;
  font-size: 1.05em;
  line-height: 20px;
  letter-spacing: 2%;
}

:host::ng-deep .p-dialog .p-dialog-content {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.cfe-close__document {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.centrado th,
.centrado td {
  text-align: center;
  /* Centra horizontalmente el contenido de las celdas */
  font-size: 0.7em;
  border-width: 0 0 1px 0;
}

.form-control {
  height: auto;
  padding: 15px;
  font-size: 14px;
  color: #222222;
  border-radius: 0;
  background: #FDFDFD;
  border: 1px solid #312BC6;
}

.btn.focus,
.btn:focus,
.form-control:focus,
/**.custom-select:focus,**/
.custom-select:focus {
  box-shadow: none;
}

.custom-select {
  height: auto;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  color: #222222;
  background-color: #FDFDFD;
  border: 1px solid #312BC6;
}

.titleYear {
  color: #1B1C1E;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
}

.hand {
  cursor: pointer;
}

//-------------------p-multiselect-----------------//
:host ::ng-deep .p-multiselect.p-multiselect-chip .p-multiselect-token {
  padding: 0.25rem 0.75rem;
  background: #E7EAED; //#8a8f97;CFD5DB
  color: #0F2C52;
  border-radius: 15px !important;
  margin-right: 0.4rem !important;
}

:host ::ng-deep .pi-times-circle:before {
  content: "\e90d" !important;
}

.p-multiselect-panel {
  background: #ffffff;
  color: #212529;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: none;
}

//-------------------p-datepicker-----------------//
:host ::ng-deep .p-datepicker table td>span.p-highlight {
  background: #C1292E !important;
  color: #FFFFFF !important;

}

:host ::ng-deep .p-datepicker-calendar {
  border: none;
  border-radius: 10px;
}
 
:host ::ng-deep .p-datepicker table {
  border: none;
}

:host ::ng-deep .p-datepicker {
  border: none;
}

:host ::ng-deep .p-datepicker table thead tr>span {
  border-bottom: 2px solid #000 !important;
}

:host ::ng-deep .p-datepicker table th>span {
  border: 2px solid #D1D2D2 !important;
  border-radius: 4px;
  background-color: #fff !important;
  color: #1B1C1E;
  padding-left: 0.30rem;
  padding-right: 0.30rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

:host ::ng-deep .p-datepicker table th {
  border-bottom: 2px solid #D1D2D2 !important;
  font-size: 0.7rem;
  width: 2.2rem !important;
  height: 1.8rem !important;

}

:host ::ng-deep .p-datepicker table td {
  font-size: 0.8rem;
  padding-left: 0.30rem;
  padding-right: 0.30rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

:host ::ng-deep .p-datepicker table td>span {
  width: 2.2rem;
  height: 1.8rem;
  border: 2px solid #D1D2D2 !important;
  background-color: #fff !important;
  color: #fff; //1B1C1E;
}

:host ::ng-deep .p-datepicker table td>span.p-disabled {
  background-color: #D1D2D2 !important;
  border: 2px solid #D1D2D2 !important;
  color: #000 !important;
}

:host ::ng-deep .p-datepicker-year {
  position: absolute;
}

#ui-datepicker-div {
  font-size: 12px;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: #FFF;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: #3F9FD6;
  width: 1.50em;
  height: 1.50em;
  border: 0.15em solid #3F9FD6;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1.0em;
  height: 1.0em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #3F9FD6;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid #58ccfae5;
  outline-offset: max(1px, 0.15em);
}