<!-- filtros.component.html -->
<div class="tituloPage">{{ tituloPage }}</div>

<form [formGroup]="filtroForm" class="form-container-filter">
  <div class="flex justify-content-between mb-2">
    <div style="width: 80%">
      <input
        pInputText
        class="p-inputtext p-inputtext-lg cfe-input-lg text-lg"
        formControlName="idActoProcesalConfigura"
        placeholder="Ingrese el código"
      />
    </div>

    <div>
      <p-button
        styleClass="p-button-lg btn-mpfn-toggle p-2 ml-2 py-2 px-4 font-semibold"
        icon="pi {{ toggleIcon }}"
        (onClick)="changeToggle()">
      </p-button>
    </div>

    <div style="width: 20%">
      <p-button
        class="p-2"
        styleClass="btn-mpfn-sad-cancel w-full text-lg"
        label="Limpiar filtros"
        (onClick)="onClearFilters()">
      </p-button>
    </div>
  </div>

  <div class="grid" *ngIf="toggleOn">
    <div class="col-4">
      <p-dropdown
        [options]="actoProcesal"
        formControlName="idActoProcesal"
        placeholder="Seleccione el acto procesal"
        optionLabel="nombre"
        optionValue="id"
        class="p-inputtext-lg py-3 text-lg w-full">
      </p-dropdown>
    </div>

    <div class="col-4">
      <p-dropdown
        [options]="carpetaCuaderno"
        formControlName="idClasificadorExpediente"
        placeholder="Seleccione carpeta o tipo de cuaderno"
        optionLabel="nombre"
        optionValue="id"
        class="p-inputtext-lg py-3 text-lg w-full">
      </p-dropdown>
    </div>

    <div class="col-4">
      <p-dropdown
        [options]="tipoEspecialidad"
        formControlName="idTipoEspecialidad"
        placeholder="Seleccione el tipo especialidad"
        optionLabel="nombre"
        optionValue="id"
        class="p-inputtext-lg py-3 text-lg w-full">
      </p-dropdown>
    </div>

    <div class="col-4">
      <p-dropdown
        [options]="especialidad"
        formControlName="idEspecialidad"
        placeholder="Seleccione la Especialidad"
        optionLabel="nombre"
        optionValue="codigo"
        class="p-inputtext-lg py-3 text-lg w-full">
      </p-dropdown>
    </div>

    <div class="col-4">
      <p-dropdown
        [options]="jerarquia"
        formControlName="idJerarquia"
        placeholder="Seleccione la jerarquía"
        optionLabel="nombre"
        optionValue="id"
        class="p-inputtext-lg py-3 text-lg w-full">
      </p-dropdown>
    </div>

    <div class="col-4">
      <p-dropdown
        [options]="tipoProceso"
        formControlName="idTipoProceso"
        placeholder="Seleccione el tipo proceso"
        optionLabel="nombre"
        optionValue="id"
        class="p-inputtext-lg py-3 text-lg w-full"
        (onChange)="onTipoProcesoChange($event)">
      </p-dropdown>
    </div>

    <div class="col-4" *ngIf="subTipoProceso.length > 0">
      <p-dropdown
        [options]="subTipoProceso"
        formControlName="idSubtipoProceso"
        placeholder="Seleccione el subtipo proceso"
        optionLabel="nombre"
        optionValue="id"
        class="p-inputtext-lg py-3 text-lg w-full">
      </p-dropdown>
    </div>

    <div class="col-4">
      <p-dropdown
        [options]="etapas"
        formControlName="idEtapa"
        placeholder="Seleccione la etapa"
        optionLabel="nombre"
        optionValue="id"
        class="p-inputtext-lg py-3 text-lg w-full">
      </p-dropdown>
    </div>
  </div>
</form>
