@use "/src/assets/styles/scss/abstracts/index" as *;

.form-container-filter {
  background: rgba(51, 51, 51, 0.1);
    padding: 1rem;
    //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.div-filter {
  background-color: #33333333;
  padding:2;
  border:round;
}
