@use "/src/assets/styles/scss/abstracts/index" as *;

.filter {
  background: #d1d2d2;
  padding: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  &__actions {
    display: flex;
    gap: 0.5rem;
  }
  &__dropdown {
    min-width: 250px;
  }
}
.options {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem 0;
}
