.vence {
    //background:  #C83C3C;
    background: #C1292E;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }
  .label-min{

    font-size: small;
    font-weight: bold;
  }
/*********************/
::ng-deep .btn-prime-img{
  padding: 10px 8px 10px 25px  !important;
}
/*********************/

