<form [formGroup]="myForm" (ngSubmit)="submit()">
  <fn-input formControlName="password" label="Ingrese su contraseña" type="password" />

  <div *ngIf="conteoIntentos > 3" class="grid">
    <div class="col">
      <img [src]="imageUrl" alt="Imagen Captcha" />
    </div>

    <div class="col">
      <fn-input formControlName="captcha" />
    </div>
  </div>

  <div class="flex flex-column gap-4">
    <button [loading]="isLoading" [disabled]="isLoading || myForm.invalid" label="Ingresar" class="w-full" type="submit"
      pButton pRipple>
    </button>

    <button label="¿Olvidé mi contraseña?" class="p-button-link login__actions--forgot" type="button" pButton>
    </button>
  </div>
</form>

<br><br>

<div class="grid" style="font-size: 14px;">
  <div class="col-6 text-left">
    soportemp&#64;mpfn.gob.pe
  </div>

  <div class="col-6 text-right">
    625-5555 Anexo: 6065
  </div>
</div>