.feriado {
  background:  #C1292E;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.laborable {
  background:  #0075BF;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.fin {
  background:  #BEBEBE;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.label-min{
  font-size: small;
  font-weight: bold;
}
