<div class="agregar-menu-modal-container">
  <h3>Editar Sede</h3>
  <span class="close" (click)="close()">
    <img [src]="icon('close_new')" class="img-custom" alt="" />
  </span>

  <div class="grid mt-3">
    <div class="col-12">
      <form [formGroup]="formularioEditarSede" (ngSubmit)="onSubmit()" class="form-container-filter">
        <div class="grid">
          <div class="col-12">
            <label for="extras" class="font-semibold">Nombre</label>
            <input type="text" #nombreSede pInputText class="p-inputtext-lg w-full" formControlName="nombreSede"
              maxlength="100" placeholder="Ingrese nombre" />
            <div style="text-align: right">
              <small>{{
                formularioEditarSede.get("nombreSede").value
                ? formularioEditarSede.get("nombreSede").value.length
                : 0
                }}/100</small>
            </div>
          </div>

          <div class="col-6">
            <label for="extras" class="font-semibold">Distrito Fiscal</label>
            <p-dropdown formControlName="distritoFiscal" [options]="disFiscales" placeholder="Seleccionar"
              optionLabel="nombre" optionValue="id" emptyMessage="No se encontraron registros"
              (onChange)="obtenerDistritoGeografico($event.value)"></p-dropdown>
          </div>

          <div class="col-6">
            <label for="extras" class="font-semibold">Distrito Geográfico (opcional)</label>
            <p-dropdown formControlName="distritoGeografico" [options]="distGeograficos" placeholder="Seleccionar"
              optionLabel="distritoGeografico" optionValue="idUbigeo"
              emptyMessage="No se encontraron registros"></p-dropdown>
          </div>

          <div class="col-12">
            <label for="extras" class="font-semibold">Dirección (opcional)</label>
            <input type="text" pInputText class="p-inputtext-lg w-full" formControlName="direccionSede" maxlength="100"
              laceholder="Ingrese dirección" />
            <div style="text-align: right">
              <small>{{
                formularioEditarSede.get("direccionSede").value
                ? formularioEditarSede.get("direccionSede").value.length
                : 0
                }}/100</small>
            </div>
          </div>
        </div>
        <div class="flex gap-3 mt-3 justify-content-center">
          <p-button styleClass="btn-mpfn-sad-cancel" label="Cancelar" (click)="close()"></p-button>
          <p-button type="submit" styleClass="btn-mpfn-sad-prime" [disabled]="formularioEditarSede.invalid"
            label="Guardar"></p-button>
        </div>
      </form>
    </div>
  </div>
</div>