/************************************************************/
/*  Archivo de variables de colores y tipografias del MPFN  */
/************************************************************/

:root {

    // Nuevos colores institucionales

    --mpfn-primary: #0e2e4a;
    --mpfn-secondary: #f19700;

    --mpfn-lightblue: #3f9fd6;
    --mpfn-lightblue-dark: #2c95d2;
    --mpfn-lightblue-background: #d9ecf7;
    --mpfn-jade: #008087;
    --mpfn-jade-background: #f1f6f6;
    --mpfn-blue-gray: #e7eaed;

    --mpfn-blue-focused: #26435C;
    --mpfn-blue-hover: #27455fb4;
    --mpfn-black: #333333;
    --mpfn-black-2: #212529;
    --mpfn-gray1: #666666;
    --mpfn-gray2: #cccccc;
    --mpfn-gray3: #e0e0e0;
    --mpfn-gray4: #B7C0C999;
    --mpfn-gray5: #5F6062;
    --mpfn-gray6: #CFD5DB;
    --mpfn-gray7: #E7EAED;
    --mpfn-gray8: #f8f8f8;
    --mpfn-gray9: #e0e0e052;
    --mpfn-gray10: #ced4da;
    --mpfn-gray11: #f1f1f1;
    --mpfn-gray12: #e2e2e2;
    --mpfn-white: #ffffff;
    --mpfn-background: #f5f2e0;
    --mpfn-background-opaque: #dddaca;
    --mpfn-backgroud-transparent: #eae7d6;
    --mpfn-background2: #F7EED4;
    --mpfn-red: #C1292E;
    --mpfn-green: #3CC85A;
    --mpfn-yellow: #F19700;
    --mpfn-yellow-light: #fcb53a;
    --mpfn-red-wine: #C83C3C;
    --mpfn-skyblue-pastel: #ddeef83d;
    --mpfn-green-dark: #06A77D;

    --mpfn-yellow-hover: #d98800;
    --mpfn-gray-hover: #cfd5db;
    --mpfn-green-hover: #058664;
    --mpfn-table-hover: #f7eed43d;
    --mpfn-red-hover: #c24044;

    // Colores para estados

    --mpfn-origen-pastel: #cecece;
    --mpfn-despacho-pastel: #D8F4DE;
    --mpfn-turno-pastel: #DDEEF8;
    --mpfn-derivado-pastel: #e6d3ff;
    --mpfn-mpe-pastel: #F7EED4;
    --mpfn-mup-pastel: #F4D8D8;
    --mpfn-reasignado-pastel: #05106c;

    --mpfn-asignacion-permanente-pastel: #DDEEF8;
    --mpfn-asignacion-temporal-pastel: #E6D3FF;

    --mpfn-recibido-pastel: #FAEADC;
    --mpfn-asignado-pastel: #FFE1E4;
    --mpfn-en-transito-pastel: #CCF7F7;
    --mpfn-notificado-pastel: #DDEEF8;
    --mpfn-motivado-pastel: #DFF7E1;
    --mpfn-en-casilla-pastel: #CFD5DB;

    --mpfn-origen: #333333;
    --mpfn-despacho: #3CC85A;
    --mpfn-turno: #3F9FD6;
    --mpfn-derivado: #963CBE;
    --mpfn-mpe: #D9A927;
    --mpfn-mup: #C83C3C;
    --mpfn-reasignado: white;

    --mpfn-asignacion-permanente: #3F9FD6;
    --mpfn-asignacion-temporal: #963CBE;

    --mpfn-recibido: #E08532;
    --mpfn-asignado: #FF697A;
    --mpfn-en-transito: #00D8D8;
    --mpfn-notificado: #3F9FD6;
    --mpfn-motivado: #60D669;
    --mpfn-en-casilla: #0E2E4A;

    // Colores Número de Documento-Sujeto Procesal

    --mpfn-numero-documento: white;

    --mpfn-sp-dni: #3F9FD6;
    --mpfn-sp-ruc: #D9A927;
    --mpfn-sp-carnet-de-extranjeria: #3CC85A;
    --mpfn-sp-pasaporte: #05106c;
    --mpfn-sp-sin-documento: #5F6062;
    --mpfn-sp-permiso-temporal-de-permanencia: #963CBE;
    --mpfn-sp-libreta-electoral: #CECECE;
    --mpfn-sp-partida-de-nacimiento: #C83C3C;
    --mpfn-sp-libreta-militar: #D8F4DE;
    --mpfn-sp-cédula: #F7EED4;

    --mpfn-por-asignar: #eb5e5e;

    // Colores de semaforos

    --mpfn-semaforo-rojo: #C1292E;
    --mpfn-semaforo-amarillo: #F19700;
    --mpfn-semaforo-verde: #3CC85A;

    // Tipografias

    --mpfn-font-bold: "Poppins-Bold", sans-serif;
    --mpfn-font-semi-bold: "Poppins-SemiBold", sans-serif;
    --mpfn-font-regular: "Poppins-Regular", sans-serif;
    --mpfn-font-light: "Poppins-Light", sans-serif;

    --header-height: 197.09px + 69px;
    --sidebar-width: 320px;
    --version-width: 150px;

    --breakpoint-tablet: 992px;

}

// breakpoints
$mpfn-breakpoint-tablet: 992px;